
bin/OpenCVLockerSignifier.app/*

bin/OpenCVLockerSignifierDebug.app/*

OpenCVLockerSignifier.xcodeproj/project.xcworkspace/xcuserdata/stillness.xcuserdatad/UserInterfaceState.xcuserstate

python/lockerServe/oschttp.log
